h1,
h1:hover {
	font-size: 3em;
	color: #f86b52;
	letter-spacing: 2px;
	outline: none;
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
}

h1:hover {
	text-shadow: -1px 1px 8px #b99292, 1px -1px 8px #be6a6a;
	animation: glow 0.5s inifinite alternate;
}

body {
	position: relative;
	font-family: 'Lora', serif;
	padding-left: 50px;
	background-color: #385350;
	color: white;
}

.algorithm-header {
	padding-top: 25px;
	padding-bottom: 25px;
}

.algorithm {
	padding-bottom: 25px;
}
.array-container {
	padding-top: 100px;
	padding-bottom: 25px;
	position: relative;
}
.array-bar {
	padding-top: 100px;
	width: 100px;
	display: inline-block;
	margin: 0 1px;
	background-color: white;
	color: black;
	text-align: center;
}
